<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h3>Información de contacto</h3>
        <p><i class="fa fa-map-marker">Dirección: </i>Alondra 1895, Puente Alto, Región Metropolitana</p>
        <p><i class="fa fa-phone">Cel.: </i> Teléfono de la empresa</p>
        <p><i class="fa fa-envelope">Correo: </i> lealsebastian12345@gmail.com</p>
      </div>

      <div class="col-md-6">
        <h3 class="h3-siguenos">Síguenos en las redes sociales</h3>
        <ul class="social-icons">
          <a href="https://wa.me/56956615127"
             target="_blank"> <img class="whatsapp-img" src="../../assets/whatsapp.png" alt=""></a>
          <a href="https://www.instagram.com/justlikehe4ven._/" target="_blank"> <img class="instagram-img"
                                                                                      src="../../assets/instagram.png"
                                                                                      alt=""></a>
          <a href="https://www.facebook.com/sebalealj" target="_blank"> <img class="facebook-img"
                                                                             src="../../assets/facebook.png"
                                                                             alt=""></a>
          <a href="youtube.com/channel/UCkxnCWr7l-nlWmdjd9XKEPw" target="_blank"> <img class="youtube-img"
                                                                                       src="../../assets/youtube.png"
                                                                                       alt=""></a>
        </ul>
      </div>

      <div class="col-md-6">
        <h3 class="h3-ayuda">Centro de ayuda</h3>
        <ul class="centro-ayuda">
        </ul>
      </div>
    </div>
  </div>
  <div class="bottom-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <strong><p>© 2023 Botilleria Colombo. Todos los derechos reservados.</p></strong>
        </div>
      </div>
    </div>
  </div>
</footer>
