<!--<div class="body">-->
<!--  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu">-->
<!--  <label for="openSidebarMenu" class="sidebarIconToggle">-->
<!--    <div class="spinner diagonal part-1"></div>-->
<!--    <div class="spinner horizontal"></div>-->
<!--    <div class="spinner diagonal part-2"></div>-->
<!--  </label>-->
<!--  <div id="sidebarMenu">-->
<!--    <mat-divider></mat-divider>-->
<!--    <mat-divider></mat-divider>-->
<!--    <div class="main-content-wrapper">-->
<!--      <a [routerLink]="['/productos']">Productos</a>-->
<!--      <mat-divider></mat-divider>-->
<!--      <a [routerLink]="['/ofertas']">Ofertas</a>-->
<!--      <mat-divider></mat-divider>-->
<!--      <a [routerLink]="['/nosotros']">Nosotros</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
