.cart
  margin-left: 95%
  margin-top: 1%

.mat-tab-group
  margin: 10px

.productos
  justify-content: center
  align-items: center
  margin-left: 200px

.btn-fav
  margin-left: 20px

.card-container
  display: inline-flex
  /* centra los elementos horizontalmente */
  justify-content: center
  /* centra los elementos verticalmente */
  align-items: baseline
  padding: 15px
  width: 360px
  flex-wrap: wrap
  margin-left: 95px

.mat-elevation-z1
  display: inline-flex
  justify-content: left
  align-items: flex-start

.demo-section + .demo-section
  margin-top: 16px

.buttons-group
  display: flex
  justify-content: center
  align-items: center
  margin-top: 255px

.span-buttons-container
  align-content: space-between
  margin-left: -300px

//EFECTO IMAGENES
.image-container
  display: flex
  justify-content: space-around


/* Estilo para las imágenes */
.image-container img
  transition: transform 0.5s


/* Efecto hover */
.image-container img:hover
  transform: translateY(-15px)

//.btn-self
//  cursor: pointer
//  transition: transform 0.3s
//
//.btn-self:hover
//  background-color: blue
//
//btn-self:active
//  transform: translateY(-10px)

#tooltip-div
  margin-top: 100px
  opacity: 10

.btn-self::before
  content: ''
  position: absolute
  bottom: 0
  left: 0
  right: 0
  height: 3px
  background-color: ghostwhite
  transform: scaleX(0)
  transition: transform 0.2s ease-in-out

.btn-self:hover::before
  transform: scaleX(1)

.btn-self[disabled]:hover::before
  transform: scaleX(1)
  transition: transform 2s ease-in-out
  background-color: white

.btn-self[disabled]
  opacity: 0.5
  /* cambia la opacidad del botón deshabilitado */
  background-color: red
  /* cambia el color de fondo del botón deshabilitado */
  color: white
/* cambia el color del texto del botón deshabilitado */





