<body class="body">
<h1 class="h1">Carrito
  <mat-icon>shopping_cart</mat-icon>
</h1>
<mat-divider></mat-divider>
<div class="btn-header">
  <button class="delete" [disabled]="arrPorCantidad.length === 0" (click)="eliminarTodos()" matTooltip="Eliminar todo"
          mat-raised-button color="warn">
    Eliminar todo
    <mat-icon>delete</mat-icon>
  </button>
  <button class="pay" [disabled]="arrPorCantidad.length === 0" matTooltip="Ir a pagar" mat-raised-button
          color="primary">
    Ir a pagar
    <mat-icon>point_of_sale</mat-icon>
  </button>
</div>
<br>
<br>
<div class="cards" *ngFor="let p of arrPorCantidad">
  <mat-card *ngIf="arrPorCantidad.length > 0; else nothingInCart" class="mat-elevation-z3" mat-card-image>
    <div class="image-container">
      <img style="width: 200px; height:200px;" src="{{p.url}}" alt="">
    </div>
    <div class="form">
      <form [formGroup]="getFormGroup(p.id)" class="formulario">
        <mat-form-field class="mat-form-field" style="width: 95px; margin-left: 10px; margin-top: -15px;">
          <mat-label>Cantidad</mat-label>
          <input matInput type="number" class="cantidad" formControlName="cantidad" min="0">
          <mat-error>Rellene este campo</mat-error>
        </mat-form-field>
        <div class="divBtn">
          <button [disabled]="!getFormGroup(p.id).get('cantidad').dirty" mat-raised-button color="primary">
            Actualizar carro
            <mat-icon>update</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </mat-card>
  <ng-template #nothingInCart>
    <h2>No hay nada en el carro</h2>
  </ng-template>
</div>

<mat-dialog-actions mat-dialog-close="" align="center">
  <button mat-button mat-raised-button color="primary" tabindex="-1">Cerrar</button>
</mat-dialog-actions>
</body>
