.body
  overflow-x: hidden

.h1
  display: flex
  align-items: center
  justify-content: center

.cards
  display: flex
  align-items: center
  justify-content: left

.mat-elevation-z3
  justify-content: center
  align-items: center
  display: flex
  margin-left: -5px
  width: 100%

.formulario
  display: flex
  justify-content: right
  padding: 70px

.divBtn
  margin-left: 20px
  margin-top: -10px

.btn-header
  display: flex
  justify-content: center
  margin: 30px 10px 10px

.delete
  margin-left: -5%

.pay
  margin-left: 12%

//EFECTO IMAGENES
.image-container
  display: flex
  justify-content: space-around


/* Estilo para las imágenes */
.image-container img
  transition: transform 0.5s


/* Efecto hover */
.image-container img:hover
  transform: translateY(-15px)

